.splitpanes {
  overflow: hidden;
  .splitpanes__pane {
    background-color: @bg-pane;
  }

  .splitpanes__splitter {
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
    flex-shrink: 0;

    &:first-child {
      cursor: auto;
    }
  }

  &.splitpanes .splitpanes .splitpanes__splitter {
    z-index: 1;
  }

  &.splitpanes--vertical>.splitpanes__splitter,
  .splitpanes--vertical>.splitpanes__splitter {
    width: 20px;
    background-color: @bg-color;
    border: 1px solid @border-color;
    // border: 1px solid #fff;
  }

  &.splitpanes--horizontal>.splitpanes__splitter,
  .splitpanes--horizontal>.splitpanes__splitter {
    background-color: @bg-color;
    height: 2px;
    border: 1px solid @border-color;
    // border: 1px solid #fff;
  }
}